<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenIPC Ground Station</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Radxa Zero 3W -- OpenIPC Ground Station</h1>
    </header>
    <main>
        <div class="button-container">
            <a href="{{ url_for('files') }}" class="button">View Video Files</a>
            <a href="{{ url_for('config') }}" class="button">Groundstation Editor</a>
        </div>
    </main>
</body>
</html>
